<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.xxx{
	color: red;
	}
	.yyy{
	color:blue;
	}
</style>
</head>

<body>
<h1>main7.html 조건 및 반복 ${...}</h1>
<h3>1. 조건 : th:if</h3>
<div th:if="${user.getAge()==20}"> user 나이 20살(springEl)</div>
<div th:if="${user.getAge()}==20"> user 나이 20살(thymeleaf)</div>

<h3>2 . 3항연산자   ? </h3>
<div th:class="${user.getAge()==20}?'xxx':'yyy'">Hello</div>
<div th:text="${user.getAge()==20}?'20살임':'20살아님 '">Hello</div>


<h3>3 . switch~ case  ? </h3>
<div th:switch="${user2.username}">
	<p th:case="'hong'">hong</p>
	<p th:case="#{roles.manager}">manager</p>
	<p th:case="*">default 역할</p> <!--  -->
</div>

<h3>4. 반복 : th:each</h3>
<table border="1">
<tr><td>이름</td><td>나이</td></tr>
<tr th:each="user : ${userList}">
	<td th:text="${user.username}"></td>
	<td th:text="${user.age}"></td>
</tr>
</table>
<hr>

<h3>4. 반복 : th:each, iterState</h3>
<table border="1">
<tr><td>번호</td><td>이름</td><td>나이</td></tr>
<tr th:each="user, iterState : ${userList}">
	<td th:text="${iterState.index} + ' :  '+ ${iterState.count}"></td>
	<td th:text="${user.username}"></td>
	<td th:text="${user.age}"></td>
</tr>









</table>
</body>
</html>