<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
<!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
</head>
<body>
<h1>속성값 변경 :  th:attr</h1>
<img th:attr="src=@{/images/a.jpg}, width=${imgWidth} , height=${imgHeight}"><br>
<img th:src="@{/images/a.jpg}" th:width="${imgWidth}"   th:height="${imgHeight}"><br>
<p th:class="${xyz}">hello</p> 
<p th:attr="class=${xyz}">hello2</p>
아이디:<input type="text" name="userid"  th:value="${user.username}"><br>
아이디:<input type="text" name="userid"  th:attr="value= ${user.username}"><br>
<hr>

<form  th:action="@{/a2}">
	a2로 전송되는 id <input type="text" name="userid" th:value="${user.username}">
	<input th:attr="type='submit', value='전송'">
</form>









</body>
</html>