<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>main4.html</h1>
<p th:text="${user}"></p>
<p th:text="${user.username}"></p>
<p th:text="${user.age}"></p>
<hr>
<p th:text="*{user.username}"></p>
<p th:text="*{user.age}"></p>
<hr>

<div th:object="${user}">
<!-- 부모자식 관계에서  -->
	<p th:text="*{username}"></p>
	<p th:text="*{age}"></p>
</div>
<hr>
//////////////////////////////////////////
<div th:object="${user}"></div>
<p th:text="*{username}"></p>
</body>
</html>